<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>

    <h1>Upload an Image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="image">Choose an image:</label>
        <input type="file" id="image" name="image" accept="image/*">
        <p></p>
        <label for="coordinates" method="POST" enctype="multipart/form-data">Choose an onomatopoeia(json):</label>
        <input type="file" id="coordinates" name="coordinates" accept=".json" required>
        <p></p>
        <button type="submit">Upload</button>
    </form>

</body>
</html>
